# Log file
*.log

# Package Files #
*.jar
*.war

*.nar
*.ear
*.zip
*.tar.gz
*.iml
*.lck
.idea/
target


# Properties #
src/main/resources/db.properties
src/test/resources/db.properties

# USER DATA #
*.jpg
*.JPG
*.png
*.jpeg